doctype html
html
    head
        title Highcharts Example
        script(src="https://code.highcharts.com/highcharts.js")
        script(src="https://code.highcharts.com/highcharts-more.js")
        script(src="https://code.highcharts.com/modules/annotations.js")
        script(src="https://code.highcharts.com/modules/sankey.js")
        // sankey MUST be before dependency-wheel
        script(src="https://code.highcharts.com/modules/dependency-wheel.js")
        script(src="https://code.highcharts.com/modules/networkgraph.js")
        script(src="https://code.highcharts.com/modules/no-data-to-display.js")
        script(src="https://code.highcharts.com/modules/organization.js")
        script(src="https://code.highcharts.com/modules/wordcloud.js")
    body(style="background-color: darkgrey;")
        div#container(style="width: 100%; height: 100%;")
        script.
            console.log(!{chartOptions});
            document.addEventListener("DOMContentLoaded", () => Highcharts.chart("container", !{chartOptions}));
        a(href="/") Back
