<!DOCTYPE html>
<html>
    <head>
        <title>Chart Samples Test</title>
    </head>
    <body style="background-color: darkgrey">
        <form action="/" method="POST">
            <div>
                <label>
                    <input type="radio" name="chartType" value="basicColumn" />
                    Basic Column
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="basicLine" />
                    Basic Line
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="dependencyWheel" />
                    Dependency Wheel
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="lineWithAnnotations" />
                    Line With Annotations
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="networkGraph" />
                    Network Graph
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="organization" />
                    Organization
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="pie" />
                    Pie
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="polar" />
                    Polar
                </label>
            </div>
            <div>
                <label>
                    <input type="radio" name="chartType" value="wordCloud" />
                    Word Cloud
                </label>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </body>
</html>
